{% extends 'pages/base.jinja' %}

{% block title %}
Flask Demo - About Flask
{% endblock %}

{% block content %}
<section>
    <h2>About Flask and Jinja</h2>

    <p>{{ lipsum(3) }}</p>
</section>

{% endblock %}