<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.red.min.css">
    <link rel="stylesheet" href="../../static/css/styles.css">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Flask Demo</li>
            </ul>

            <ul>
                <li><a role="button" href="/">Home</a></li>
                <li><a role="button" href="/test/">Test</a></li>
                <li><a role="button" href="/about/">About</a></li>
                <li><a role="button" href="/random/">Random</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy 2025 James Gerraty at Waimea College</p>
    </footer>
</body>

</html>