section#hero {
    min-height: 20rem;
    background-color: var(--pico-secondary-background);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px);
}

section#hero h1 {
    color: var(--pico-secondary-inverse);
    font-size: 6rem;
    text-align: center;
    text-wrap: wrap;
}

section#things {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

section#things article {
    width: 30%;
}